<!-- <main>
  <header class='brand-name'>
    <img src='/assets/images/ks-logo.svg' alt="logo" class='brand-logo'>
  </header>
  <section class="content">
    <app-home *ngFor="let product of productsList" [product]="product"></app-home>
     @for (product of productsList; track product.id) {
      <app-home [product]="product"></app-home>
     }
  </section>
  </main> -->

  <main>
    <header class='brand-name'>
      <img src='/assets/images/ks-logo.svg' alt="logo" class='brand-logo'>
      <ul class='categories-list'>
        <li class="category">
          <button 
          class="category-selector" 
          [ngClass]="{ 'active': isAllProductsSelected }"
          (click)='selectedCategory = null'>
          All Products
          </button>
        </li>
        <li class='category' *ngFor="let category of categories">
          <button 
          class='category-selector' 
          [ngClass]="{ 'active': category === selectedCategory }"
          (click)="selectCategory(category)"> 
          {{ category.name }}
        </button>
        </li>
      </ul>
    </header>
    <section class="content">
      <app-product-list
      *ngIf='displayProducts'
      [productsList]="displayProducts"
      [isAllProductsSelected]="isAllProductsSelected"
      (remove)='removeProduct($event)'
      (like)='likeProduct($event)'>
      ></app-product-list>
    </section>
    </main>